*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

/* body {
    background: #f7ecd0 ;

} */

/* a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
} */
